@model Raizen.Cliente.Application.Contracts.ClienteModel

@{
    ViewData["Title"] = "Editar Cliente";
}

<h2>@ViewBag.message</h2>
<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Editar Cliente</h2>
    </div>
    <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
    <form method="POST" enctype="multipart/form-data" asp-controller="Cliente" asp-action="UpdateCliente">

        <input type="hidden" class="form-control mb-3" asp-for="Id">
        <div class="row">
            <div class="col">
                <label asp-for="Nome">Nome</label>

            </div>
            <div class="col">
                <label asp-for="DataNascimento">Data Nascimento</label>

            </div>

        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="Nome" name="Nome" asp-for="Nome" />
                 <span asp-validation-for="Nome" class="alert-danger"></span>
            </div>
            <div class="col">
                <input type="text" id="DataNascimento" name="DataNascimento" asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="alert-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="form-label">Email</label>
            </div>
            <div class="col">
                <label class="form-label">CEP</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="Email" name="Email" asp-for="Email" />
                <span asp-validation-for="Email" class="alert-danger"></span>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="CEP" name="CEP" asp-for="CEP" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1' );" onKeyPress="if(this.value.length==9) return false;" />
                <span asp-validation-for="CEP" class="alert-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Logradouro">Logradouro</label>
            </div>
            <div class="col">
                <label asp-for="Complemento">Complemento</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="Logradouro" name="Logradouro" asp-for="Logradouro" />
                <span asp-validation-for="Logradouro" class="alert-danger"></span>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="Complemento" name="Complemento" asp-for="Complemento" />
            </div>
        </div>


        <div class="row">
            <div class="col">
                <label asp-for="Bairro">Bairro</label>
            </div>
            <div class="col">
                <label asp-for="Cidade">Cidade</label>
            </div>
            <div class="col">
                <label asp-for="UF">UF</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="Bairro" name="Bairro" asp-for="Bairro" />
                <span asp-validation-for="Bairro" class="alert-danger"></span>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="Cidade" name="Cidade" asp-for="Cidade" />
                 <span asp-validation-for="Cidade" class="alert-danger"></span>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="UF" name="UF" asp-for="UF" />
                <span asp-validation-for="UF" class="alert-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <div class="float-start">
                    <button type="submit" class="btn btn-primary" value="OK">
                        <svg bootstrap-icon="Check" width="24" height="24"></svg>
                        OK
                    </button>
                    <a class="btn btn-danger" href="@Url.Action("Index", "Cliente")">
                        <svg bootstrap-icon="XCircle" width="24" height="24"></svg>
                        Cancel
                    </a>
                </div>
            </div>
        </div>

    </form>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>

<script src="~/js/validate/validateCEP.js"></script>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', () => {

        $("#DataNascimento").datepicker({ dateFormat: 'dd/mm/yyyy', language: "pt-BR" });

        // Inputmask("datetime", {
        //     inputFormat: "dd/mm/yyyy"
        // }).mask("#DataNascimento");

        // $("#DataNascimento").change(function () {

        //     if ($("#DataNascimento").val() == '' || moment($("#DataNascimento").val(), "DD/MM/YYYY").toDate() == null) return;

        //     $("#DataNascimento").data('datepicker').selectDate(moment($("#DataNascimento").val(), "DD/MM/YYYY").toDate());
        //     //moment($("#redeDtInicioInput").val(), "DD/MM/YYYY").format('YYYY-MM-DD')
        // });

    });


</script>